.bg-card{
    background-color: var(--card-bg);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    color: var(--text);
    display: flex;
}

.bg-card:hover{
    transform: translateY(-3px);
}

#infocards{
    height: 6.5rem;
    width: 14rem;
}

#graficos{
    height: 22rem;
    width: 38rem;
}

#informacoes{
    height: 5rem;
    width: 38rem;
}

@media (max-width: 1340px) and (min-width: 1024px){
    #graficos {
        width: 34rem;
        height: 20rem;
    }

    #informacoes {
        width: 34rem;
        height: 4.5rem;
    }
}