.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-surface-a10);
    padding: 16px 32px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.logo{
    font-size: 20px;
    font-weight: bold;
    color: var(--clr-primary-a0);
}

.nav-links a{
    margin: 0 12px;
    text-decoration: none;
    color: var(--clr-text);
    font-weight: 500;
    transition: color 0.2s ease;
}

.nav-links a:hover{
    color: var(--clr-primary-a0);
}