#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.background{
  width: 1280px;
  display: flex;
  flex-direction: column;
}

.row{
  border-radius: 10px;
  margin: 0.5rem;
  display: flex;
}