.background{
  max-width: 1280px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  background-color: var(--surface);
  padding: 30px;
  border-radius: 15px;
}

.row{
  border-radius: 10px;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

@media (max-width: 1340px) and (min-width: 1024px){
  .background{
    max-width: 1024px;
  }

  .row{
    gap: 1rem;
  }
}