.background{
  width: 1280px;
  display: flex;
  flex-direction: column;
  background-color: var(--surface);
  padding: 30px;
  border-radius: 15px;
}

.row{
  border-radius: 10px;
  margin: 0.5rem;
  display: flex;
}