:root {
  --bg: #f3f4f6;              /* cinza muito claro – fundo da página */
  --surface: #e5e7eb;         /* cinza claro – áreas seccionadas, cards menos importantes */
  --card-bg: #ffffff;         /* ainda pode usar branco, mas só em partes pequenas */
  --text: #1f2937;            /* ótimo contraste com bg */
  --primary: #3cc670;         /* verde principal */
  --primary-dark: #2da35a;
}


[data-theme='dark'] {
  --bg: #1f2937;              /* fundo geral escuro */
  --surface: #374151;         /* cinza escuro suave */
  --card-bg: #4b5563;         /* cinza médio – para cartões */
  --text: #f9fafb;
}


@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter.ttc') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'Inter', sans-serif;
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.2s ease, color 0.2s ease;
  margin: 0;
}